<div class="col-md-8 col-md-offset-2 mt-2">

<h2>Show Message</h2>
<h2>Title: <%= @message.title %> </h2>
<p>Posted by <%= @message.user.try(:email) %>  <%=time_ago_in_words(@message.created_at) %> </p>
<p>
 <%= @message.description %>
</p>
<h3>Comments :</h3>
<%= render @message.comments %>

<h3>Reply to message :</h3>
<p>
<% if user_signed_in? %>
<%= render 'comments/form' %>
<% end %>
</p>


<% if user_signed_in? %>
     <% if @message.user_id==current_user.id %>
            <%= link_to 'Edit', edit_message_path(@message),class: "btn btn-warning" %>
               <%= link_to 'Delete', message_path(@message),class: "btn btn-danger" ,method: :delete,data:{confirm: "Are You sure "}%>
     <% end %>
<% end %>
<%= link_to 'back', root_path,class: "btn btn-primary" %>

</div>